.component {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: 500;
}

.input {
  display: flex;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 3px;
  background-color: var(--background-secondary);

  outline: solid 1px var(--border-primary);

  &:focus {
    outline: solid 2px var(--action-primary);
  }
}

.input::placeholder {
  color: gray;
}
