@font-face {
  font-family: "TWK Everett";
  src: url("./TWKEverett-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TWK Everett";
  src: url("./TWKEverett-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TWK Everett";
  src: url("./TWKEverett-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
